body {
    font-family: "Raleway", sans-serif;
  }
  
  /* Hero Section */
  
  #Hero-Section {
    background-image: url("../img/foto.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
  }
  
 
  /* Contacto */
  
  #Contacto form label {
    font-weight: 700;
    color: #373a3c;
  }
  
  @media (max-width: 768px) {
    #Contacto form label {
      font-weight: 400;
    }
  
    .navbar-brand{
      width: 100px;
    }
  
  }
  
  .fondo {
    background-color: beige;
    background-size: cover;

}

.card img {
    height: 450px;
    object-fit: cover;
    object-position: top;
}